if SHIELD_JZHKEY_LEFT

config ZMK_KEYBOARD_NAME
    default "jzhkey"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_JZHKEY_LEFT || SHIELD_JZHKEY_RIGHT

config ZMK_SPLIT
    default y

endif